body {

    background: #000000;
    min-height: 700px;
    min-width: 1200px;

}

.Anuncio1 {
    background-color: rgb(110, 109, 109);
    width: 10%;
    height: 700px;
    float: left;
    margin: auto;
    text-align: center;
}

.Anuncio2 {
    background-color: rgb(110, 109, 109);
    width: 10%;
    height: 700px;
    float: right;
    text-align: center;
}

.nav {
    background-color: aquamarine;
    width: 78%;
    height: 190px;
    float: left;
    margin-left: 1%;
    background-image: linear-gradient(to bottom, #35e01e, #139853, #134d83);

}

.nav .logo {
    background-color: antiquewhite;
    width: auto;
    height: 190px;
    float: left;
}

.nav img {
    background-color: antiquewhite;

    height: 190px;
    float: left;
}

.nav .title {
text-align: center;
    width: 60%;
    height: 90px;
    float: left;
    font-size: 30px;
    color: beige;
    font-weight: bold;

}

.nav .tooltop{

    width: 19%;
    height: 100px;
    float: right;
    /* background-color: #00A4BD; */

}

.nav .tooltop div{

   margin-right: 0px;
float: left;
    
    /*background-color: #139853;*/
}
.nav .tooltop .displaymenu {

    margin-right: 0px;
     float: right;
     
     /* background-color: #9bb1a6; */
 }
.nav .tooltop button {
    float: right;
    text-align: center;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
    margin-right: 20px;
    color: beige;

}

.nav .tooltop button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #e1e598;

    height: 20px;

}

.nav .toolboot {

    width: 80%;
    height: 100px;
    float: left;
    text-align: center;
  
}

.nav .toolboot li {
    margin-left: 10px;
    text-align: center;
    float: left;
    margin-top: 50px;
    list-style: none;
    color: bisque;
}

.nav .toolboot li:hover {
    color: beige;
    font-size: 20px;
}


/*ESta parte es para la eleccion de los partidos */

.eleccion {
    background-color: #3c4c44;
    border-radius: 10px;
    text-decoration: none;
    width: 30%;
    height: 500px;
    float: left;
    margin-top: 10px;
    margin-left: 1%;
}

.eleccion .tit {
    background-color: rgb(197, 240, 9);
    border-radius: 10px;
    width: 90%;
    height: 100px;
    float: left;
    margin-top: 10px;
    margin-left: 5%;
    text-align: center;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.eleccion .part {
    background-color: rgb(68, 182, 119);
    width: 90%;
    height: 370px;
    float: left;
    margin-top: 10px;
    margin-left: 5%;
    overflow: auto;
    text-align: left;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.eleccion .part p {
    margin-left: 10%;
}

.eleccion .part .botonpopular {
    background-color: rgb(54, 147, 181);
    float: left;
    text-align: left;
    margin-left: 10%;
    font-size: 25px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(86, 9, 9);
    width: 80%;
    border-radius: 50px;
}





/*esta seccion es de los partidos */
.partidos {
    background-color: #3c4c44;
    border-radius: 10px;
    width: 47%;
    height: 500px;
    float: left;
    margin-top: 10px;
    margin-left: 1%;
}

.partidos .envivo {

    width: 90%;
    margin-left: 5%;
    height: 50px;
    margin-top: 10px;

}

.partidos .envivo button {

    margin-left: 5%;
    width: 120px;
    margin-top: 10px;
    background-color: #32f121;
    border-radius: 5px;
    height: 35px;
    font-size: small;
    float: left;


}

.partidos .envivo button:hover {
    background-color: #e8e40f;
    -webkit-transition-duration: 0.4s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: medium;
    /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.partidos .lista {
   
    width: 90%;
    margin-left: 5%;
    height: 420px;
    margin-top: 10px;
    overflow: auto;
    position: relative;
    border-radius: 15px;
}

.partidos .lista .juego {
    background-color: rgb(146, 130, 113);
    top: 0;
    left: 0;
    width: 90%;
    right: -20px;
    margin-left: 5%;
    height: 140px;
    margin-top: 10px;
    bottom: -20px;
    border-radius: 10px;
    overflow: auto;
}

.partidos .lista .juego .sect {

    width: 25%;
    margin-left: 5%;
    height: 120px;
    margin-top: 10px;
    float: left;
    text-align: center;
}

.partidos .lista .juego .sect button {
    text-align: center;
    border-radius: 20px;
    background-color: #21f197;

}
.partidos .lista .juego .sect button:hover {
    background: #134d83;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: medium;
    /* Safari */
    transition-duration: 0.4s;
    

}
.footer{

    float: left;
    width: 100%;
    height: 300px;
    background-color: #050607;
}
.partes{
width: 24%;
height: 280px;
margin-top: 10px;
margin-left: 10px;
background-color: #5f4d4d;
float: left;
text-align: center;
list-style: none;


}
.partes a{
    text-decoration: none;
    color: beige;

}
.partes img{
background-color: transparent;
    width: 90px;
}
.nav{
    background-image: url('images/estadio.webp');
    background-size: cover;
    background-position: center;
}
/* agregado recientement"*/

  /* esta parte es de el menu despelglable*/
  .displaymenu{
    
    
    float: right;

  }
  .displaymenu-content{
    display: none;
    position: absolute;
    width: 6%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px  rgba(0,0,0,2);
   
  }
  .displaymenu:hover .displaymenu-content{
    display: block;
    margin-top: 40px;
  }
  .displaymenu-content a{
    display: block;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    margin-top: 0px;
  }
  .displaymenu-content a:hover{
    color: #FFFFFF;
    background-color: #00A4BD;
    margin-top: 0px;

  }